@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply text-base font-roboto;
}

body {
    @apply text-black m-0 p-0 box-border;
}

body::-webkit-scrollbar {
    @apply w-1;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-track {
    background: #6649b8;
}

#content {
    @apply flex sm:block;
}

.navbar {
    @apply w-20 h-screen bg-primary transition-width ease-ease duration-700 overflow-hidden
    sm:w-full sm:bottom-0 sm:h-20 sm:flex sm:justify-center sm:fixed
    lg:w-20 lg:h-screen lg:hover:w-56;
}

.nav-item {
    @apply w-full lg:transition duration-300 ease-in transform hover:-translate-y-3 hover:scale-100;
}

.nav-link {
    @apply flex items-center h-20 text-text_primary no-underline filter grayscale opacity-70 transition duration-700;
}

.nav-link:hover {
    @apply filter grayscale-0 opacity-100 bg-secondary text-text_secondary
    sm:justify-center sm:align-middle;
}

.link-text {
    @apply sm:hidden ml-4 select-none;
}

.nav-link svg {
    @apply mt-0 mb-0 ml-6 mr-6 min-w-[1.5rem] lg:select-none;
}

.svg-inline--fa {
    @apply fill-current text-[#ff7eee] transition duration-700;
    pointer-events: none;
}

.navbar-nav {
    @apply sm:flex sm:list-none sm:align-middle lg:list-none lg:p-0 lg:m-0 lg:flex lg:flex-col lg:align-middle lg:h-screen;
}

.navbar .link-text {
    @apply lg:hover:inline lg:hover:transition-opacity duration-1000;
}

.nav-item:last-child {
    @apply mt-auto transition duration-200 ease-in transform hover:-translate-y-3 hover:scale-100;
}

.nav-item:last-child a svg {
    @apply transform hover:first:-rotate-45;
}

input[type='text'] {
    @apply rounded-lg border-none pl-4 text-primary overscroll-none 
    focus-visible:outline-none;
}

.section {
    display: none;
}

.hidden {
    display: none;
}

.viewing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
}

.heading {
    @apply flex w-3/5 justify-between;
}

.heading div {
    @apply flex gap-4 items-center cursor-pointer;
}

.section ul {
    @apply w-3/5 flex;
}
.section ul li {
    @apply flex items-center w-full justify-start gap-4 cursor-pointer;
}

.headingContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.toDoForm {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 1rem;
}

.addTaskText {
    pointer-events: none;
}

.arrow {
    pointer-events: none;
}

.toDoBtn {
    cursor: pointer;
}

.toDoForm {
    cursor: default;
}
